# dependencies
node_modules/

# build output
lib/
dist/

# typescript
*.tsbuildinfo

# test coverage
coverage/

# macOS
.DS_Store
*.pem

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env
.env*.local

# IDE
.vscode/settings.json
.idea/

# bun
bun.lockb

# personal notes
TODO.md

# misc
*.log
